[package]
name = "rhythm-open-exchange"
version = "0.1.0"
edition = "2024"

[dependencies]
bincode = "2.0.1"
bitflags = "2.9"
blake3 = "1.8.2"
rand = "0.9"
thiserror = "2.0.17"
zstd = "0.13"

[dev-dependencies]
criterion = "0.8.1"

[[bench]]
name = "codec_bench"
harness = false
